---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Front-End",
    description:
      "Experto en el uso de tecnologías web modernas como HTML, JS, CSS y frameworks de JavaScript como React, Angular y Vue para construir aplicaciones web de alto rendimiento y atractivas visualmente.",
    icon: "mdi:react",
  },
  {
    title: "Back-End",
    description:
      "Hábil en la creación de servicios web tanto de estilo monolito como de estilo microservicio y programación de lógica de negocios a través de librerías como Flask (Python) y Express (JavaScript)",
    icon: "simple-icons:express",
  },
  {
    title: "VCS / Control",
    description:
      "Familiaridad con sistemas de control de versiones como Git, GitHub, Bitbucket y Jira para el mantenimiento de diversos tipos de bases de código tanto de código abierto como cerrado (Librerías, sitios web, herramientas internas, etc.)",
    icon: "bi:git",
  },
  {
    title: "CI/CD",
    description:
      "Amplio conocimiento de build tools (Vite, Gulp, Make), lenguajes de scripting (Bash, PowerShell) y gestores de paquetes (Npm, Yarn, Pnpm, Apt-Get) para el mantenimiento de bases de código web",
    icon: "clarity:bundle-line",
  },
  {
    title: "Actualizado y Eficiente",
    description:
      "Facilidad para el aprendizaje de nuevas tecnologías. Apasionado por desarrollar soluciones innovadoras y mantenerse actualizado con las últimas y mejores herramientas.",
    icon: "mdi:brain-freeze-outline",
  },
  {
    title: "Inglés Avanzado",
    description:
      "Capacidad comprobada para comunicarse eficazmente en inglés, tanto escrito como hablado. Fiable para la construcción de aplicaciones que requieren de internacionalización (i18n) y entornos laborales bilingues",
    icon: "uil:english-to-chinese",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 id="Skills" class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Habilidades</h2>
  <p class="text-lg mt-4 text-slate-600">
    Esto es lo que me hace sobresalir frente a otros ingenieros, las habilidades
    que podrían hacerme una buena adición a tu equipo, o por las que te
    interesará contratarme como independiente.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
